@import url("https://fonts.googleapis.com/css2?family=Roboto+Flex:opsz@8..144&display=swap");

.div_header {
  background-color: #efc244;
  height: 60px;
  align-items: center;
  justify-content: center;
  display: flex;
  color: #363131;
  white-space: nowrap;
  font-size: 2em;
  font-family: "Roboto Flex", sans-serif;
  letter-spacing: 0.1em;
  color: #303380;
  text-shadow: 1px 1px 0 rgb(45, 45, 45), 5px 13px 15px #303380;
}

.blue {
  color: #303380;
}

.botao {
  height: 40px;
  display: flex;
  width: 200px;
  align-items: center;
  justify-content: center;
  background: white;
  border: solid 1px black;
  cursor: pointer;
  border-radius: 10px;
  margin: auto;
}

.botao:hover {
  background-color: #efc244;
  transition: all 200ms ease-in;
}

.inputt {
  height: 30px;
  border: none !important;
  border-radius: 5px;
}

.input {
  display: flex;
  flex-direction: column;
  width: 350px;
}

.labels {
  display: flex;
  justify-content: flex-start;
  text-transform: uppercase;
  font-size: 13px;
}

.criador {
  width: 100%;
  height: auto;
  object-fit: cover;
}

.right p {
  margin-left: 100px;
  text-align: justify;
}

#menuPrivado {
  font-family: sans-serif;

  /* Give app full page to work with */
  height: -100vh;
}

#page-wrap {
  text-align: center;

  /* Prevent sidebar from showing a scrollbar on page */
  overflow: auto;
}

/* Individual item */
.menu-item {
  /*display: inline-block;
  
    /* Our sidebar item styling */
  text-decoration: none;
  margin-bottom: 10px;
  color: #d1d1d1;
  transition: color 0.2s;
}

/* Change color on hover */
.bm-item:hover {
  color: white;
}

/* The rest copied directly from react-burger-menu docs */

/* Position and sizing of burger button */
.bm-burger-button {
  left: 1%;
  width: 2%;
  height: 3%;
  top: 2%;
}

/* Color/shape of burger icon bars */
.bm-burger-bars {
  background: #373a47;
}

/* Position and sizing of clickable cross button */
.bm-cross-button {
  position: absolute;
  width: 10%;
  height: 10%;
  right: 4%;
  top: 8%;
}

/* Color/shape of close button cross */
.bm-cross {
  background: #bdc3c7;
  margin-top: 26px;
}

/* General sidebar styles */
.bm-menu {
  background: #373a47;
  padding: 1.1em 1em 0;
  font-size: 1.15em;
  margin-top: 20%;
}

/* Morph shape necessary with bubble or elastic */
.bm-morph-shape {
  fill: #373a47;
}

/* Wrapper for item list */
.bm-item-list {
  color: #b8b7ad;
}

/* Styling of overlay */
/* IF MENU IS ON LEFT CHANGE ATRIBUTE TO RIGHT*/
.bm-overlay {
  background: rgba(0, 0, 0, 0.3);
  top: 0px;
  right: 0px;
}

.bm-menu-wrap {
  position: fixed;
  z-index: 1000;
  left: inherit;
  margin-left: -7%;
  width: 15%;
  height: 100%;
  transition: all 0.5s ease 0s;
}

/* #calendarContainer {
  display: flex;
  flex-flow: row nowrap;
  justify-content: stretch;
} */

.table-row-light {
  background-color: #ded9d9;
}
.table-row-dark {
  background-color: #ded9d8;
}

.demo-option-label-item > span {
  margin-right: 6px;
}

.fc-view-harness {
  background-color: rgba(230, 230, 230, 0.6);
}

/**
** PARA CONSULTA PRIVADA
**/

.consultaPrivadaTabela {
  background-color: #eee;
  width: 200px;
  height: 100px;
  border: 1px dotted black;
  overflow-y: scroll; /* Add the ability to scroll */
}

/* Hide scrollbar for Chrome, Safari and Opera */
.consultaPrivadaTabela::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.consultaPrivadaTabela {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}
